
@{
    ViewBag.Title = "Resultat";
}

<h2>Resultat</h2>
<div class="text-center">
    <img src="@Session["ImgURL"]"/>
    <br />
    <p>@Session["Steg1"]</p>
    <p>@Session["Steg2"]</p>
    <p>@Session["Steg3"]</p>
    <p>@Session["Steg4"]</p>
    <p>@Session["Svar"]</p>
    <p>@Session["Felmeddelande"]</p>
</div>
